
.carousel{
      display: flex!important;
      padding: 15px;
}

.carousel-inner{
      display: flex!important;
      align-items: center;
      justify-content: center;
      border: 1px solid aqua;
      padding: 15px;
      margin: 10px;
      gap: 15px;
}

.carousel-item{
      display: block!important;
      margin-right: 0!important;
      
}

.carousel-control-prev, .carousel-control-next{
      background-color: aqua!important;

      position: relative;
      width: auto;
}






/*
.cardExample{
      width: 440px;
    
      
}


.carousel-inner,.carousel,.carousel-item,img{
      overflow: hidden!important;
}

.carousel-inner{
      width: 1500px;
      height: 500px;
}
*/
